.navbar{
    box-shadow: none;
}
.navbar .logo{
    width: 225px;
    margin-left: -46px;
}
.container{
    width: 57% !important;   
}
.form-control{
    height: 45px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 21px;
    color: #49557e;
    font-size: 18px;
    padding-top: 16px;
    position: absolute;
    margin-left: 208px;
}
.navbar-menu a:hover{
    text-decoration: none;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background:  transparent;
    font-size: 16px;
    color: black;
    border:  1px solid #ba08a8;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.form-control {
    height: 38px;
}
.navbar button:hover{
    background-color: #eb96e2;
 
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #ba08a8;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
        
    }
    .navbar-right{
        gap:30px
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
    
}


@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap:20px
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
    
}


@media (max-width:750px) {
    .navbar-menu{
      display: none;
    }
  
}
a{
    text-decoration: none;
    color: #49557e;
}